* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f5f2f2;
  font-family: 'Open Sans', sans-serif;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 80px;
  row-gap: 50px;
  max-width: 1368px;
  margin: 0 auto;
  padding: 0 3rem 3rem 3rem;
  justify-content: center;
  justify-items: center;
}

.card-holder {
  background: #fff;
  text-align: center;
  padding: 1rem;
  border-radius: 6px;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.card-flag {
  width: 200px;
  height: 100px;
  text-align: center;
}

.card-name {
  margin-top: 10px;
  font-weight: 700;
}

.landing-header {
  text-align: center;
}

.landing-header p {
  margin: 1rem;
  font-size: 42px;
}

.country-input {
  text-align: center;
}

.country-input input {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 2rem;
  width: 275px;
  height: 30px;
  padding: 1rem;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ddd;
  transition: 0.2s;
}

.country-input input:focus {
  outline: none;
  border: 1px solid #9fa0c3;
}

.country-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.country-holder p {
  font-size: 18px;
}

.country-card {
  background: #fff;
  text-align: center;
  font-size: 24px;
  padding: 1rem;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  width: 300px;
  min-height: 150px;
  margin: 1rem;
}

.country-lat {
  display: inline-block;
  margin: 0.2rem;
}

span {
  display: block;
}

.final {
  margin-bottom: 4rem;
}

.country-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1368px;
}

.country-card p {
  margin-top: 1rem;
}

.spancur {
  display: inline-block;
  margin-right: 5px;
}

.country-name {
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  margin: 1rem;
}

.home {
  text-align: center;
}

.home button {
  width: 200px;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.2s;
}

.home button:hover {
  border: 1px solid #9fa0c3;
}

.country-flag {
  width: 300px;
  margin: 1rem;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

@media only screen and (max-width: 1010px) {
  .card-grid {
    column-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  }

  .country-flex {
    justify-content: center;
  }
}

@media only screen and (max-width: 350px) {
  .country-flag {
    width: 250px;
  }

  .country-card {
    width: 250px;
  }
}
